In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('sqoop_cluster').master("local").getOrCreate()
spark

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

<pyspark.sql.session.SparkSession object at 0x7f04384c5450>

# Loading data from HDFS

In [2]:
df = spark.read.csv("/user/root/SRC_ATM_TRANS/part-m-00000", header = False, inferSchema = True)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [3]:
# Verifying the data
df.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-------+---+------+---+--------+---+---+----------+-------------------+----+----+------+------+----+----------+----+----------+----+----+------+------+-------+--------------+------+----+----+----+----+-----+----+----+-------+--------------------+
| _c0|    _c1|_c2|   _c3|_c4|     _c5|_c6|_c7|       _c8|                _c9|_c10|_c11|  _c12|  _c13|_c14|      _c15|_c16|      _c17|_c18|_c19|  _c20|  _c21|   _c22|          _c23|  _c24|_c25|_c26|_c27|_c28| _c29|_c30|_c31|   _c32|                _c33|
+----+-------+---+------+---+--------+---+---+----------+-------------------+----+----+------+------+----+----------+----+----------+----+----+------+------+-------+--------------+------+----+----+----+----+-----+----+----+-------+--------------------+
|2017|January|  1|Sunday|  0|  Active|  1|NCR|NÃƒÂ¦stved|        Farimagsvej|   8|4700|55.233|11.763| DKK|MasterCard|5643|Withdrawal|null|null| 55.23|11.761|2616038|      Naestved|281.15|1014|  87|   7| 260|0.215|  92| 500|   Rain|          light rain|
|2017|January|  1|Sunday|  0|Inactive|  2|NCR|  Vejgaard|         Hadsundvej|  20|9000|57.043|  9.95| DKK|MasterCard|1764|Withdrawal|null|null|57.048| 9.935|2616235|NÃƒÂ¸rresundby|280.64|1020|  93|   9| 250| 0.59|  92| 500|   Rain|          light rain|
|2017|January|  1|Sunday|  0|Inactive|  2|NCR|  Vejgaard|         Hadsundvej|  20|9000|57.043|  9.95| DKK|      VISA|1891|Withdrawal|null|null|57.048| 9.935|2616235|NÃƒÂ¸rresundby|280.64|1020|  93|   9| 250| 0.59|  92| 500|   Rain|          light rain|
|2017|January|  1|Sunday|  0|Inactive|  3|NCR|     Ikast|RÃƒÂ¥dhusstrÃƒÂ¦det|  12|7430|56.139| 9.154| DKK|      VISA|4166|Withdrawal|null|null|56.139| 9.158|2619426|         Ikast|281.15|1011| 100|   6| 240|  0.0|  75| 300|Drizzle|light intensity d...|
|2017|January|  1|Sunday|  0|  Active|  4|NCR|Svogerslev|       BrÃƒÂ¸nsager|   1|4000|55.634|12.018| DKK|MasterCard|5153|Withdrawal|null|null|55.642| 12.08|2614481|      Roskilde|280.61|1014|  87|   7| 260|  0.0|  88| 701|   Mist|                mist|
+----+-------+---+------+---+--------+---+---+----------+-------------------+----+----+------+------+----+----------+----+----------+----+----+------+------+-------+--------------+------+----+----+----+----+-----+----+----+-------+--------------------+
only showing top 5 rows

# Import sql types such as StructType, StructField etc. This is to imply customized schema

In [4]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, BooleanType, DoubleType, LongType

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [5]:
# creating our own schema
schemaCustom = StructType([StructField('year', IntegerType(), nullable = True),
                        StructField('month', StringType(), True),
                        StructField('day', IntegerType(), True),
                        StructField('weekday', StringType(), True),
                        StructField('hour', IntegerType(), True),
                        StructField('atm_status', StringType(), True),
                        StructField('atm_id', StringType(), True),
                        StructField('atm_manufacturer', StringType(), True),
                        StructField('atm_location', StringType(), True),
                        StructField('atm_streetname', StringType(), True),
                        StructField('atm_street_number', IntegerType(), True),
                        StructField('atm_zipcode', IntegerType(), True),
                        StructField('atm_lat', DoubleType(), True),
                        StructField('atm_lon', DoubleType(), True),
                        StructField('currency', StringType(), True),
                        StructField('card_type', StringType(), True),
                        StructField('transaction_amount', IntegerType(), True),
                        StructField('service', StringType(), True),
                        StructField('message_code', StringType(), True),
                        StructField('message_text', StringType(), True),
                        StructField('weather_lat', DoubleType(), True),
                        StructField('weather_lon', DoubleType(), True),
                        StructField('weather_city_id', IntegerType(), True),
                        StructField('weather_city_name', StringType(), True),
                        StructField('temp', DoubleType(), True),
                        StructField('pressure', IntegerType(), True),
                        StructField('humidity', IntegerType(), True),
                        StructField('wind_speed', IntegerType(), True),
                        StructField('wind_deg', IntegerType(), True),
                        StructField('rain_3h', DoubleType(), True),
                        StructField('clouds_all', IntegerType(), True),
                        StructField('weather_id', IntegerType(), True),
                        StructField('weather_main', StringType(), True),
                        StructField('weather_description', StringType(), True)])

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

## Reading csv file from HDFS

In [6]:
df = spark.read.csv("/user/root/SRC_ATM_TRANS/part-m-00000", header = False, schema = schemaCustom)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [7]:
# Verifying the Data
df.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-------+---+-------+----+----------+------+----------------+------------+-------------------+-----------------+-----------+-------+-------+--------+----------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
|year|  month|day|weekday|hour|atm_status|atm_id|atm_manufacturer|atm_location|     atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|currency| card_type|transaction_amount|   service|message_code|message_text|weather_lat|weather_lon|weather_city_id|weather_city_name|  temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main| weather_description|
+----+-------+---+-------+----+----------+------+----------------+------------+-------------------+-----------------+-----------+-------+-------+--------+----------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
|2017|January|  1| Sunday|   0|    Active|     1|             NCR|  NÃƒÂ¦stved|        Farimagsvej|                8|       4700| 55.233| 11.763|     DKK|MasterCard|              5643|Withdrawal|        null|        null|      55.23|     11.761|        2616038|         Naestved|281.15|    1014|      87|         7|     260|  0.215|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|    Vejgaard|         Hadsundvej|               20|       9000| 57.043|   9.95|     DKK|MasterCard|              1764|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|    Vejgaard|         Hadsundvej|               20|       9000| 57.043|   9.95|     DKK|      VISA|              1891|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     3|             NCR|       Ikast|RÃƒÂ¥dhusstrÃƒÂ¦det|               12|       7430| 56.139|  9.154|     DKK|      VISA|              4166|Withdrawal|        null|        null|     56.139|      9.158|        2619426|            Ikast|281.15|    1011|     100|         6|     240|    0.0|        75|       300|     Drizzle|light intensity d...|
|2017|January|  1| Sunday|   0|    Active|     4|             NCR|  Svogerslev|       BrÃƒÂ¸nsager|                1|       4000| 55.634| 12.018|     DKK|MasterCard|              5153|Withdrawal|        null|        null|     55.642|      12.08|        2614481|         Roskilde|280.61|    1014|      87|         7|     260|    0.0|        88|       701|        Mist|                mist|
+----+-------+---+-------+----+----------+------+----------------+------------+-------------------+-----------------+-----------+-------+-------+--------+----------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
only showing top 5 rows

In [8]:
# Checking the count
df.select('*').count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

2468572

In [9]:
# Checking the columns
df.columns

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

['year', 'month', 'day', 'weekday', 'hour', 'atm_status', 'atm_id', 'atm_manufacturer', 'atm_location', 'atm_streetname', 'atm_street_number', 'atm_zipcode', 'atm_lat', 'atm_lon', 'currency', 'card_type', 'transaction_amount', 'service', 'message_code', 'message_text', 'weather_lat', 'weather_lon', 'weather_city_id', 'weather_city_name', 'temp', 'pressure', 'humidity', 'wind_speed', 'wind_deg', 'rain_3h', 'clouds_all', 'weather_id', 'weather_main', 'weather_description']

# Creating Target Dimension Dataframes
### Location Dataframe and Location Dimension

In [10]:
location_df = df.select('atm_location', 'atm_streetname', 'atm_street_number', 'atm_zipcode', 'atm_lat', 'atm_lon').distinct()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [11]:
location_df.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------------+-------------------+-----------------+-----------+-------+-------+
|    atm_location|     atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|
+----------------+-------------------+-----------------+-----------+-------+-------+
|         Kolding|           Vejlevej|              135|       6000| 55.505|  9.457|
|  Skelagervej 15|        Skelagervej|               15|       9000| 57.023|  9.891|
|Intern HolbÃƒÂ¦k|        Slotsvolden|                7|       4300| 55.718| 11.704|
|          Odense|       FÃƒÂ¦lledvej|                3|       5000| 55.394|  10.37|
|           Ikast|RÃƒÂ¥dhusstrÃƒÂ¦det|               12|       7430| 56.139|  9.154|
+----------------+-------------------+-----------------+-----------+-------+-------+
only showing top 5 rows

In [12]:
from pyspark.sql.functions import *

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [13]:
# creating the primary key column to location df
df_temp_zip = location_df.rdd.zipWithIndex().toDF()
df_locationWithId = df_temp_zip.select(col("_1.*"),col("_2").alias('location_id'))
df_locationWithId.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------------+-------------------+-----------------+-----------+-------+-------+-----------+
|    atm_location|     atm_streetname|atm_street_number|atm_zipcode|atm_lat|atm_lon|location_id|
+----------------+-------------------+-----------------+-----------+-------+-------+-----------+
|         Kolding|           Vejlevej|              135|       6000| 55.505|  9.457|          0|
|  Skelagervej 15|        Skelagervej|               15|       9000| 57.023|  9.891|          1|
|Intern HolbÃƒÂ¦k|        Slotsvolden|                7|       4300| 55.718| 11.704|          2|
|          Odense|       FÃƒÂ¦lledvej|                3|       5000| 55.394|  10.37|          3|
|           Ikast|RÃƒÂ¥dhusstrÃƒÂ¦det|               12|       7430| 56.139|  9.154|          4|
+----------------+-------------------+-----------------+-----------+-------+-------+-----------+
only showing top 5 rows

In [14]:
# Renaming the columns as per the defined Schema
LocationDim = df_locationWithId.withColumnRenamed('atm_streetname','streetname').withColumnRenamed('atm_zipcode','zipcode').withColumnRenamed('atm_location','location').withColumnRenamed('atm_street_number','street_number').withColumnRenamed('atm_lat','lat').withColumnRenamed('atm_lon','lon')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [15]:
LocationDim.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------------+-------------------+-------------+-------+------+------+-----------+
|        location|         streetname|street_number|zipcode|   lat|   lon|location_id|
+----------------+-------------------+-------------+-------+------+------+-----------+
|         Kolding|           Vejlevej|          135|   6000|55.505| 9.457|          0|
|  Skelagervej 15|        Skelagervej|           15|   9000|57.023| 9.891|          1|
|Intern HolbÃƒÂ¦k|        Slotsvolden|            7|   4300|55.718|11.704|          2|
|          Odense|       FÃƒÂ¦lledvej|            3|   5000|55.394| 10.37|          3|
|           Ikast|RÃƒÂ¥dhusstrÃƒÂ¦det|           12|   7430|56.139| 9.154|          4|
+----------------+-------------------+-------------+-------+------+------+-----------+
only showing top 5 rows

In [16]:
# Verifying the columns
LocationDim.columns

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

['location', 'streetname', 'street_number', 'zipcode', 'lat', 'lon', 'location_id']

In [17]:
# Verifying the count
LocationDim.select('*').count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

109

### ATM Dataframe and ATM Dimension

In [18]:
atm_df = df.select('atm_id', 'atm_manufacturer', 'atm_lat', 'atm_lon')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [19]:
# Verifying the data
atm_df.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------+----------------+-------+-------+
|atm_id|atm_manufacturer|atm_lat|atm_lon|
+------+----------------+-------+-------+
|     1|             NCR| 55.233| 11.763|
|     2|             NCR| 57.043|   9.95|
|     2|             NCR| 57.043|   9.95|
|     3|             NCR| 56.139|  9.154|
|     4|             NCR| 55.634| 12.018|
|     5|             NCR| 56.983|  9.639|
|     6|             NCR| 55.564|  9.757|
|     7| Diebold Nixdorf| 57.168| 10.148|
|     8|             NCR| 56.762|  8.867|
|     9| Diebold Nixdorf| 56.716| 10.114|
|    10|             NCR| 57.059|  9.922|
|    11|             NCR| 57.023|   9.94|
|     2|             NCR| 57.043|   9.95|
|    12|             NCR| 57.049|  9.922|
|    13|             NCR| 57.334| 10.515|
|    14|             NCR| 56.086| 10.037|
|    15|             NCR| 57.053|  9.905|
|    12|             NCR| 57.049|  9.922|
|    16|             NCR| 56.567|  9.027|
|    17|             NCR| 56.462| 10.038|
+------+----------------+-------+-------+
only showing top 20 rows

In [20]:
atm_df = atm_df.withColumnRenamed('atm_id', 'atm_number')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [21]:
# Verifying the data
atm_df.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+----------------+-------+-------+
|atm_number|atm_manufacturer|atm_lat|atm_lon|
+----------+----------------+-------+-------+
|         1|             NCR| 55.233| 11.763|
|         2|             NCR| 57.043|   9.95|
|         2|             NCR| 57.043|   9.95|
|         3|             NCR| 56.139|  9.154|
|         4|             NCR| 55.634| 12.018|
|         5|             NCR| 56.983|  9.639|
|         6|             NCR| 55.564|  9.757|
|         7| Diebold Nixdorf| 57.168| 10.148|
|         8|             NCR| 56.762|  8.867|
|         9| Diebold Nixdorf| 56.716| 10.114|
|        10|             NCR| 57.059|  9.922|
|        11|             NCR| 57.023|   9.94|
|         2|             NCR| 57.043|   9.95|
|        12|             NCR| 57.049|  9.922|
|        13|             NCR| 57.334| 10.515|
|        14|             NCR| 56.086| 10.037|
|        15|             NCR| 57.053|  9.905|
|        12|             NCR| 57.049|  9.922|
|        16|             NCR| 56.567|  9.027|
|        17|             NCR| 56.462| 10.038|
+----------+----------------+-------+-------+
only showing top 20 rows

In [22]:
atm_df = atm_df.join(df_locationWithId, on = ['atm_lat', 'atm_lon'], how = "left")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [23]:
# Verifying the data
atm_df.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-------+-------+----------+----------------+------------+--------------------+-----------------+-----------+-----------+
|atm_lat|atm_lon|atm_number|atm_manufacturer|atm_location|      atm_streetname|atm_street_number|atm_zipcode|location_id|
+-------+-------+----------+----------------+------------+--------------------+-----------------+-----------+-----------+
| 57.023|   9.94|        11|             NCR|   Sauersvej|Fridtjof Nansens Vej|                2|       9210|         32|
| 57.023|   9.94|        11|             NCR|   Sauersvej|Fridtjof Nansens Vej|                2|       9210|         32|
| 57.023|   9.94|        11|             NCR|   Sauersvej|Fridtjof Nansens Vej|                2|       9210|         32|
| 57.023|   9.94|        11|             NCR|   Sauersvej|Fridtjof Nansens Vej|                2|       9210|         32|
| 57.023|   9.94|        11|             NCR|   Sauersvej|Fridtjof Nansens Vej|                2|       9210|         32|
| 57.023|   9.94|        11|             NCR|   Sauersvej|Fridtjof Nansens Vej|                2|       9210|         32|
| 57.023|   9.94|        11|             NCR|   Sauersvej|Fridtjof Nansens Vej|                2|       9210|         32|
| 57.023|   9.94|        11|             NCR|   Sauersvej|Fridtjof Nansens Vej|                2|       9210|         32|
| 57.023|   9.94|        11|             NCR|   Sauersvej|Fridtjof Nansens Vej|                2|       9210|         32|
| 57.023|   9.94|        11|             NCR|   Sauersvej|Fridtjof Nansens Vej|                2|       9210|         32|
| 57.023|   9.94|        11|             NCR|   Sauersvej|Fridtjof Nansens Vej|                2|       9210|         32|
| 56.805|   9.02|        83|             NCR|         Fur|          StenÃƒÂ¸re|               19|       7884|         16|
| 56.805|   9.02|        83|             NCR|         Fur|          StenÃƒÂ¸re|               19|       7884|         16|
| 57.023|   9.94|        11|             NCR|   Sauersvej|Fridtjof Nansens Vej|                2|       9210|         32|
| 57.023|   9.94|        11|             NCR|   Sauersvej|Fridtjof Nansens Vej|                2|       9210|         32|
| 57.023|   9.94|        11|             NCR|   Sauersvej|Fridtjof Nansens Vej|                2|       9210|         32|
| 57.023|   9.94|        11|             NCR|   Sauersvej|Fridtjof Nansens Vej|                2|       9210|         32|
| 57.023|   9.94|        11|             NCR|   Sauersvej|Fridtjof Nansens Vej|                2|       9210|         32|
| 57.023|   9.94|        11|             NCR|   Sauersvej|Fridtjof Nansens Vej|                2|       9210|         32|
| 57.023|   9.94|        11|             NCR|   Sauersvej|Fridtjof Nansens Vej|                2|       9210|         32|
+-------+-------+----------+----------------+------------+--------------------+-----------------+-----------+-----------+
only showing top 20 rows

In [24]:
# Verifying the columns
atm_df.columns

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

['atm_lat', 'atm_lon', 'atm_number', 'atm_manufacturer', 'atm_location', 'atm_streetname', 'atm_street_number', 'atm_zipcode', 'location_id']

In [25]:
atm_df = atm_df.select('atm_number', 'atm_manufacturer', 'location_id').distinct()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [26]:
# Verifying the data
atm_df.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+----------------+-----------+
|atm_number|atm_manufacturer|location_id|
+----------+----------------+-----------+
|        53|             NCR|         28|
|        66|             NCR|         20|
|        28|             NCR|         33|
|        30|             NCR|         57|
|        40| Diebold Nixdorf|         86|
+----------+----------------+-----------+
only showing top 5 rows

In [27]:
atm_df = atm_df.withColumnRenamed('location_id', 'atm_location_id')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [28]:
# Verifying the columns
atm_df.columns

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

['atm_number', 'atm_manufacturer', 'atm_location_id']

In [29]:
#creating primary key for ATM
df_temp_rdd = atm_df.rdd.zipWithIndex().toDF()
dim_atmWithId = df_temp_rdd.select(col("_1.*"),col("_2").alias('atm_id'))
dim_atmWithId.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+----------------+---------------+------+
|atm_number|atm_manufacturer|atm_location_id|atm_id|
+----------+----------------+---------------+------+
|        53|             NCR|             28|     0|
|        36|             NCR|             61|     1|
|        40| Diebold Nixdorf|             86|     2|
|        30|             NCR|             57|     3|
|        66|             NCR|             20|     4|
+----------+----------------+---------------+------+
only showing top 5 rows

In [30]:
atmDim = dim_atmWithId.select('atm_id', 'atm_number', 'atm_manufacturer', 'atm_location_id')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [31]:
# Verifying the count
atmDim.select('*').count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

156

In [32]:
# Verifying the columns
atmDim.columns

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

['atm_id', 'atm_number', 'atm_manufacturer', 'atm_location_id']

### Date Dataframe and Date Dimension

In [33]:
date_df = df.select('year', 'month', 'day', 'hour', 'weekday')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [34]:
date_df = date_df.withColumn('full_date', concat_ws('-', date_df.year, date_df.month, date_df.day))

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [35]:
date_df = date_df.withColumn('full_time', concat_ws(':', date_df.hour, lit('00'), lit('00')))

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [36]:
date_df = date_df.withColumn('full_date_time', concat_ws(' ', date_df.full_date, date_df.full_time))

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [37]:
# Verifying the data
date_df.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-------+---+----+-------+--------------+---------+--------------------+
|year|  month|day|hour|weekday|     full_date|full_time|      full_date_time|
+----+-------+---+----+-------+--------------+---------+--------------------+
|2017|January|  1|   0| Sunday|2017-January-1|  0:00:00|2017-January-1 0:...|
|2017|January|  1|   0| Sunday|2017-January-1|  0:00:00|2017-January-1 0:...|
|2017|January|  1|   0| Sunday|2017-January-1|  0:00:00|2017-January-1 0:...|
|2017|January|  1|   0| Sunday|2017-January-1|  0:00:00|2017-January-1 0:...|
|2017|January|  1|   0| Sunday|2017-January-1|  0:00:00|2017-January-1 0:...|
+----+-------+---+----+-------+--------------+---------+--------------------+
only showing top 5 rows

In [38]:
pattern = 'yyyy-MMM-dd HH:mm:ss'
date_df = date_df.withColumn('full_date_time', unix_timestamp(date_df.full_date_time, pattern).cast('timestamp'))

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [39]:
# Verifying the data
date_df.show(5, truncate = False)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-------+---+----+-------+--------------+---------+-------------------+
|year|month  |day|hour|weekday|full_date     |full_time|full_date_time     |
+----+-------+---+----+-------+--------------+---------+-------------------+
|2017|January|1  |0   |Sunday |2017-January-1|0:00:00  |2017-01-01 00:00:00|
|2017|January|1  |0   |Sunday |2017-January-1|0:00:00  |2017-01-01 00:00:00|
|2017|January|1  |0   |Sunday |2017-January-1|0:00:00  |2017-01-01 00:00:00|
|2017|January|1  |0   |Sunday |2017-January-1|0:00:00  |2017-01-01 00:00:00|
|2017|January|1  |0   |Sunday |2017-January-1|0:00:00  |2017-01-01 00:00:00|
+----+-------+---+----+-------+--------------+---------+-------------------+
only showing top 5 rows

In [40]:
date_df = date_df.select('year', 'month', 'day', 'hour', 'weekday', 'full_date_time').distinct()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [41]:
# Verifying the data
date_df.show(5, truncate = False)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+--------+---+----+-------+-------------------+
|year|month   |day|hour|weekday|full_date_time     |
+----+--------+---+----+-------+-------------------+
|2017|January |6  |8   |Friday |2017-01-06 08:00:00|
|2017|January |16 |18  |Monday |2017-01-16 18:00:00|
|2017|January |29 |8   |Sunday |2017-01-29 08:00:00|
|2017|February|26 |8   |Sunday |2017-02-26 08:00:00|
|2017|March   |14 |6   |Tuesday|2017-03-14 06:00:00|
+----+--------+---+----+-------+-------------------+
only showing top 5 rows

In [42]:
# creating the primary key column
df_temp_rdd = date_df.rdd.zipWithIndex().toDF()
dateDim = df_temp_rdd.select(col("_1.*"),col("_2").alias('date_id'))
dateDim.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+--------+---+----+-------+-------------------+-------+
|year|   month|day|hour|weekday|     full_date_time|date_id|
+----+--------+---+----+-------+-------------------+-------+
|2017| January|  6|   8| Friday|2017-01-06 08:00:00|      0|
|2017| January| 16|  18| Monday|2017-01-16 18:00:00|      1|
|2017| January| 29|   8| Sunday|2017-01-29 08:00:00|      2|
|2017|February| 26|   8| Sunday|2017-02-26 08:00:00|      3|
|2017|   March| 14|   6|Tuesday|2017-03-14 06:00:00|      4|
+----+--------+---+----+-------+-------------------+-------+
only showing top 5 rows

In [43]:
# Verifying the columns
dateDim.columns

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

['year', 'month', 'day', 'hour', 'weekday', 'full_date_time', 'date_id']

In [44]:
# Verifying the columns
dateDim.columns

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

['year', 'month', 'day', 'hour', 'weekday', 'full_date_time', 'date_id']

In [45]:
# Verifying the data
dateDim.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+---------+---+----+--------+-------------------+-------+
|year|    month|day|hour| weekday|     full_date_time|date_id|
+----+---------+---+----+--------+-------------------+-------+
|2017|September| 25|   1|  Monday|2017-09-25 01:00:00|      0|
|2017|     July| 27|  21|Thursday|2017-07-27 21:00:00|      1|
|2017|   August| 11|  13|  Friday|2017-08-11 13:00:00|      2|
|2017|   August| 24|  11|Thursday|2017-08-24 11:00:00|      3|
|2017|   August| 27|  15|  Sunday|2017-08-27 15:00:00|      4|
+----+---------+---+----+--------+-------------------+-------+
only showing top 5 rows

In [46]:
dateDim.select('*').count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

8685

### Card Type dataframe and Card Type Dimension

In [47]:
# creating a temporary df and selecting required columns and making sure records are distinct
card_type_df = df.select('card_type').distinct()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [48]:
# Verifying the data
card_type_df.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+
|           card_type|
+--------------------+
|Visa Dankort - on-us|
|  Mastercard - on-us|
|         HÃƒÂ¦vekort|
|            VisaPlus|
|     Dankort - on-us|
+--------------------+
only showing top 5 rows

In [49]:
# creating the primary key column
df_temp_rdd = card_type_df.rdd.zipWithIndex().toDF()
cardTypeDim = df_temp_rdd.select(col("_1.*"),col("_2").alias('card_type_id'))
cardTypeDim.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+------------+
|           card_type|card_type_id|
+--------------------+------------+
|Visa Dankort - on-us|           0|
|  Mastercard - on-us|           1|
|         HÃƒÂ¦vekort|           2|
|            VisaPlus|           3|
|     Dankort - on-us|           4|
+--------------------+------------+
only showing top 5 rows

In [50]:
# rearranging the columns according to the target model
cardTypeDim = cardTypeDim.select('card_type_id', 'card_type')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [51]:
# validating the count of the dataframe
cardTypeDim.select('*').count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

12

# Creating Fact Dataframe

### Location Fact DataFrame

In [52]:
# Renaming the columns as per the defined schema
locationFact = df.withColumnRenamed('atm_streetname','streetname').withColumnRenamed('atm_location','location').withColumnRenamed('atm_street_number','street_number').withColumnRenamed('atm_zipcode','zipcode').withColumnRenamed('atm_lat','lat').withColumnRenamed('atm_lon','lon')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [53]:
# Verifying the data
locationFact.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----+-------+---+-------+----+----------+------+----------------+----------+-------------------+-------------+-------+------+------+--------+----------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
|year|  month|day|weekday|hour|atm_status|atm_id|atm_manufacturer|  location|         streetname|street_number|zipcode|   lat|   lon|currency| card_type|transaction_amount|   service|message_code|message_text|weather_lat|weather_lon|weather_city_id|weather_city_name|  temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main| weather_description|
+----+-------+---+-------+----+----------+------+----------------+----------+-------------------+-------------+-------+------+------+--------+----------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
|2017|January|  1| Sunday|   0|    Active|     1|             NCR|NÃƒÂ¦stved|        Farimagsvej|            8|   4700|55.233|11.763|     DKK|MasterCard|              5643|Withdrawal|        null|        null|      55.23|     11.761|        2616038|         Naestved|281.15|    1014|      87|         7|     260|  0.215|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|  Vejgaard|         Hadsundvej|           20|   9000|57.043|  9.95|     DKK|MasterCard|              1764|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     2|             NCR|  Vejgaard|         Hadsundvej|           20|   9000|57.043|  9.95|     DKK|      VISA|              1891|Withdrawal|        null|        null|     57.048|      9.935|        2616235|   NÃƒÂ¸rresundby|280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|          light rain|
|2017|January|  1| Sunday|   0|  Inactive|     3|             NCR|     Ikast|RÃƒÂ¥dhusstrÃƒÂ¦det|           12|   7430|56.139| 9.154|     DKK|      VISA|              4166|Withdrawal|        null|        null|     56.139|      9.158|        2619426|            Ikast|281.15|    1011|     100|         6|     240|    0.0|        75|       300|     Drizzle|light intensity d...|
|2017|January|  1| Sunday|   0|    Active|     4|             NCR|Svogerslev|       BrÃƒÂ¸nsager|            1|   4000|55.634|12.018|     DKK|MasterCard|              5153|Withdrawal|        null|        null|     55.642|      12.08|        2614481|         Roskilde|280.61|    1014|      87|         7|     260|    0.0|        88|       701|        Mist|                mist|
+----+-------+---+-------+----+----------+------+----------------+----------+-------------------+-------------+-------+------+------+--------+----------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+------+--------+--------+----------+--------+-------+----------+----------+------------+--------------------+
only showing top 5 rows

In [54]:
# joining the dataframes
locationFact = locationFact.join(LocationDim, on = ['location', 'streetname', 'street_number', 'zipcode', 'lat', 'lon'], how = "left")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [55]:
# Verifying the data
locationFact.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------+-----------+-------------+-------+------+-----+----+-------+---+-------+----+----------+------+----------------+--------+--------------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+-----------+
|      location| streetname|street_number|zipcode|   lat|  lon|year|  month|day|weekday|hour|atm_status|atm_id|atm_manufacturer|currency|           card_type|transaction_amount|   service|message_code|message_text|weather_lat|weather_lon|weather_city_id|weather_city_name|   temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main|weather_description|location_id|
+--------------+-----------+-------------+-------+------+-----+----+-------+---+-------+----+----------+------+----------------+--------+--------------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+-----------+
|Skelagervej 15|Skelagervej|           15|   9000|57.023|9.891|2017|January|  1| Sunday|   1|  Inactive|    29|             NCR|     DKK|Visa Dankort - on-us|              1837|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg| 280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|         light rain|          1|
|Skelagervej 15|Skelagervej|           15|   9000|57.023|9.891|2017|January|  1| Sunday|   5|  Inactive|    29|             NCR|     DKK|Visa Dankort - on-us|              1908|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|279.639|    1017|      94|         4|     276|   0.74|        92|       500|        Rain|         light rain|          1|
|Skelagervej 15|Skelagervej|           15|   9000|57.023|9.891|2017|January|  1| Sunday|   5|  Inactive|    29|             NCR|     DKK|Visa Dankort - on-us|              6046|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|279.639|    1017|      94|         4|     276|   0.74|        92|       500|        Rain|         light rain|          1|
|Skelagervej 15|Skelagervej|           15|   9000|57.023|9.891|2017|January|  1| Sunday|   9|  Inactive|    29|             NCR|     DKK|        Visa Dankort|              8329|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|278.945|    1016|      93|         5|     283|    0.0|        92|       804|      Clouds|    overcast clouds|          1|
|Skelagervej 15|Skelagervej|           15|   9000|57.023|9.891|2017|January|  1| Sunday|   9|  Inactive|    29|             NCR|     DKK|Visa Dankort - on-us|              2706|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|278.945|    1016|      93|         5|     283|    0.0|        92|       804|      Clouds|    overcast clouds|          1|
+--------------+-----------+-------------+-------+------+-----+----+-------+---+-------+----+----------+------+----------------+--------+--------------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+-----------+
only showing top 5 rows

In [56]:
# Verifying the columns
locationFact.columns

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

['location', 'streetname', 'street_number', 'zipcode', 'lat', 'lon', 'year', 'month', 'day', 'weekday', 'hour', 'atm_status', 'atm_id', 'atm_manufacturer', 'currency', 'card_type', 'transaction_amount', 'service', 'message_code', 'message_text', 'weather_lat', 'weather_lon', 'weather_city_id', 'weather_city_name', 'temp', 'pressure', 'humidity', 'wind_speed', 'wind_deg', 'rain_3h', 'clouds_all', 'weather_id', 'weather_main', 'weather_description', 'location_id']

In [57]:
locationFact = locationFact.withColumnRenamed('atm_id', 'atm_number').withColumnRenamed('location_id', 'atm_location_id')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [58]:
# Verifying the count
locationFact.select('*').count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

2468572

### ATM Fact DataFrame

In [59]:
atmFact = locationFact.join(atmDim, on = ['atm_number', 'atm_manufacturer', 'atm_location_id'], how = "left")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [60]:
# Verifying the data
atmFact.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------+----------------+---------------+--------------+-----------+-------------+-------+------+-----+----+-------+---+-------+----+----------+--------+--------------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+------+
|atm_number|atm_manufacturer|atm_location_id|      location| streetname|street_number|zipcode|   lat|  lon|year|  month|day|weekday|hour|atm_status|currency|           card_type|transaction_amount|   service|message_code|message_text|weather_lat|weather_lon|weather_city_id|weather_city_name|   temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main|weather_description|atm_id|
+----------+----------------+---------------+--------------+-----------+-------------+-------+------+-----+----+-------+---+-------+----+----------+--------+--------------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+------+
|        29|             NCR|              1|Skelagervej 15|Skelagervej|           15|   9000|57.023|9.891|2017|January|  1| Sunday|   1|  Inactive|     DKK|Visa Dankort - on-us|              1837|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg| 280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|         light rain|    97|
|        29|             NCR|              1|Skelagervej 15|Skelagervej|           15|   9000|57.023|9.891|2017|January|  1| Sunday|   5|  Inactive|     DKK|Visa Dankort - on-us|              1908|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|279.639|    1017|      94|         4|     276|   0.74|        92|       500|        Rain|         light rain|    97|
|        29|             NCR|              1|Skelagervej 15|Skelagervej|           15|   9000|57.023|9.891|2017|January|  1| Sunday|   5|  Inactive|     DKK|Visa Dankort - on-us|              6046|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|279.639|    1017|      94|         4|     276|   0.74|        92|       500|        Rain|         light rain|    97|
|        29|             NCR|              1|Skelagervej 15|Skelagervej|           15|   9000|57.023|9.891|2017|January|  1| Sunday|   9|  Inactive|     DKK|        Visa Dankort|              8329|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|278.945|    1016|      93|         5|     283|    0.0|        92|       804|      Clouds|    overcast clouds|    97|
|        29|             NCR|              1|Skelagervej 15|Skelagervej|           15|   9000|57.023|9.891|2017|January|  1| Sunday|   9|  Inactive|     DKK|Visa Dankort - on-us|              2706|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|278.945|    1016|      93|         5|     283|    0.0|        92|       804|      Clouds|    overcast clouds|    97|
+----------+----------------+---------------+--------------+-----------+-------------+-------+------+-----+----+-------+---+-------+----+----------+--------+--------------------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+------+
only showing top 5 rows

In [61]:
atmFact = atmFact.withColumnRenamed('atm_location_id', 'weather_loc_id')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [62]:
# Verifying the count
atmFact.select('*').count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

2468572

### Date Fact DataFrame

In [63]:
# joining the dfs
dateFact = atmFact.join(dateDim, on = ['year', 'month', 'day', 'hour', 'weekday'], how = "left")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [64]:
# Verifying the count
dateFact.select('*').count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

2468572

### Main Fact Table - AtmTransFact

In [65]:
# joining the dataframes
atmTransFact = dateFact.join(cardTypeDim, on = ['card_type'], how = "left")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [66]:
# Verifying the data
atmTransFact.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+--------------------+----+-------+---+----+-------+----------+----------------+--------------+--------------+-----------+-------------+-------+------+-----+----------+--------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+------+-------------------+-------+------------+
|           card_type|year|  month|day|hour|weekday|atm_number|atm_manufacturer|weather_loc_id|      location| streetname|street_number|zipcode|   lat|  lon|atm_status|currency|transaction_amount|   service|message_code|message_text|weather_lat|weather_lon|weather_city_id|weather_city_name|   temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main|weather_description|atm_id|     full_date_time|date_id|card_type_id|
+--------------------+----+-------+---+----+-------+----------+----------------+--------------+--------------+-----------+-------------+-------+------+-----+----------+--------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+------+-------------------+-------+------------+
|Visa Dankort - on-us|2017|January|  1|   1| Sunday|        29|             NCR|             1|Skelagervej 15|Skelagervej|           15|   9000|57.023|9.891|  Inactive|     DKK|              1837|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg| 280.64|    1020|      93|         9|     250|   0.59|        92|       500|        Rain|         light rain|    98|2017-01-01 01:00:00|   5739|           0|
|Visa Dankort - on-us|2017|January|  1|   5| Sunday|        29|             NCR|             1|Skelagervej 15|Skelagervej|           15|   9000|57.023|9.891|  Inactive|     DKK|              1908|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|279.639|    1017|      94|         4|     276|   0.74|        92|       500|        Rain|         light rain|    98|2017-01-01 05:00:00|   3638|           0|
|Visa Dankort - on-us|2017|January|  1|   5| Sunday|        29|             NCR|             1|Skelagervej 15|Skelagervej|           15|   9000|57.023|9.891|  Inactive|     DKK|              6046|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|279.639|    1017|      94|         4|     276|   0.74|        92|       500|        Rain|         light rain|    98|2017-01-01 05:00:00|   3638|           0|
|        Visa Dankort|2017|January|  1|   9| Sunday|        29|             NCR|             1|Skelagervej 15|Skelagervej|           15|   9000|57.023|9.891|  Inactive|     DKK|              8329|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|278.945|    1016|      93|         5|     283|    0.0|        92|       804|      Clouds|    overcast clouds|    98|2017-01-01 09:00:00|   5688|           5|
|Visa Dankort - on-us|2017|January|  1|   9| Sunday|        29|             NCR|             1|Skelagervej 15|Skelagervej|           15|   9000|57.023|9.891|  Inactive|     DKK|              2706|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|278.945|    1016|      93|         5|     283|    0.0|        92|       804|      Clouds|    overcast clouds|    98|2017-01-01 09:00:00|   5688|           0|
+--------------------+----+-------+---+----+-------+----------+----------------+--------------+--------------+-----------+-------------+-------+------+-----+----------+--------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+------+-------------------+-------+------------+
only showing top 5 rows

In [67]:
# creating primary key of fact table
from pyspark.sql.window import Window

w = Window().orderBy('date_id')
atmTransFact = atmTransFact.withColumn("trans_id", row_number().over(w))
atmTransFact.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+------------------+----+---------+---+----+--------+----------+----------------+--------------+---------+------------+-------------+-------+------+------+----------+--------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+------+-------------------+-------+------------+--------+
|         card_type|year|    month|day|hour| weekday|atm_number|atm_manufacturer|weather_loc_id| location|  streetname|street_number|zipcode|   lat|   lon|atm_status|currency|transaction_amount|   service|message_code|message_text|weather_lat|weather_lon|weather_city_id|weather_city_name|   temp|pressure|humidity|wind_speed|wind_deg|rain_3h|clouds_all|weather_id|weather_main|weather_description|atm_id|     full_date_time|date_id|card_type_id|trans_id|
+------------------+----+---------+---+----+--------+----------+----------------+--------------+---------+------------+-------------+-------+------+------+----------+--------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+------+-------------------+-------+------------+--------+
|Mastercard - on-us|2017|September| 25|   1|  Monday|        25| Diebold Nixdorf|             3|   Odense|FÃƒÂ¦lledvej|            3|   5000|55.394| 10.37|    Active|     DKK|              5707|Withdrawal|        null|        null|     55.396|     10.388|        2615876|           Odense| 287.64|    1026|      87|         4|      90|    0.0|        12|       801|      Clouds|         few clouds|    45|2017-09-25 01:00:00|      0|           1|       1|
|      Visa Dankort|2017|September| 25|   1|  Monday|        34|             NCR|            74|Skipperen| Vestre Alle|            2|   9000|57.034| 9.908|    Active|     DKK|              5428|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|288.903|    1041|      91|         5|      87|    0.0|       100|       804|      Clouds|    overcast clouds|    18|2017-09-25 01:00:00|      0|           5|       2|
|Mastercard - on-us|2017|September| 25|   1|  Monday|        34|             NCR|            74|Skipperen| Vestre Alle|            2|   9000|57.034| 9.908|    Active|     DKK|                23|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|288.903|    1041|      91|         5|      87|    0.0|       100|       804|      Clouds|    overcast clouds|    18|2017-09-25 01:00:00|      0|           1|       3|
|      Visa Dankort|2017|September| 25|   1|  Monday|        34|             NCR|            74|Skipperen| Vestre Alle|            2|   9000|57.034| 9.908|    Active|     DKK|              3829|Withdrawal|        null|        null|     57.048|      9.919|        2624886|          Aalborg|288.903|    1041|      91|         5|      87|    0.0|       100|       804|      Clouds|    overcast clouds|    18|2017-09-25 01:00:00|      0|           5|       4|
|        MasterCard|2017|     July| 27|  21|Thursday|        71|             NCR|           101|AalbÃƒÂ¦k|  Centralvej|            5|   9982|57.593|10.412|    Active|     DKK|              3098|Withdrawal|        null|        null|     57.492|     10.496|        2612274|         Strandby|287.249|    1013|     100|         4|     248|    0.0|        24|       801|      Clouds|         few clouds|    27|2017-07-27 21:00:00|      1|          10|       5|
+------------------+----+---------+---+----+--------+----------+----------------+--------------+---------+------------+-------------+-------+------+------+----------+--------+------------------+----------+------------+------------+-----------+-----------+---------------+-----------------+-------+--------+--------+----------+--------+-------+----------+----------+------------+-------------------+------+-------------------+-------+------------+--------+
only showing top 5 rows

In [68]:
# Verifying the columns
atmTransFact.columns

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

['card_type', 'year', 'month', 'day', 'hour', 'weekday', 'atm_number', 'atm_manufacturer', 'weather_loc_id', 'location', 'streetname', 'street_number', 'zipcode', 'lat', 'lon', 'atm_status', 'currency', 'transaction_amount', 'service', 'message_code', 'message_text', 'weather_lat', 'weather_lon', 'weather_city_id', 'weather_city_name', 'temp', 'pressure', 'humidity', 'wind_speed', 'wind_deg', 'rain_3h', 'clouds_all', 'weather_id', 'weather_main', 'weather_description', 'atm_id', 'full_date_time', 'date_id', 'card_type_id', 'trans_id']

In [69]:
atmTransFact = atmTransFact.select('trans_id', 'atm_id', 'weather_loc_id', 'date_id', 'card_type_id', 
'atm_status', 'currency', 'service', 'transaction_amount', 'message_code', 'message_text', 'rain_3h', 
'clouds_all', 'weather_id', 'weather_main', 'weather_description')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [70]:
# Verifying the columns
atmTransFact.columns

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

['trans_id', 'atm_id', 'weather_loc_id', 'date_id', 'card_type_id', 'atm_status', 'currency', 'service', 'transaction_amount', 'message_code', 'message_text', 'rain_3h', 'clouds_all', 'weather_id', 'weather_main', 'weather_description']

In [71]:
# validating the count of the dataframe
atmTransFact.select('*').count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

2468572

# Writing the Dimensions and Fact Tables into s3 Bucket

In [72]:
# writing data from pyspark df 'LocationDim' in csv format to LocationDim folder in S3 bucket 'vinayakraneetlproject'
LocationDim.coalesce(1).write.format('csv').option('header','false').save('s3://vinayakraneetlproject/locationDim', mode='overwrite')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [73]:
# writing data from pyspark df 'atmDim' in csv format to atmDim folder in S3 bucket 'vinayakraneetlproject'
atmDim.coalesce(1).write.format('csv').option('header','false').save('s3://vinayakraneetlproject/atmDim', mode='overwrite')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [74]:
# writing data from pyspark df 'dateDim' in csv format to dateDim folder in S3 bucket 'vinayakraneetlproject'
dateDim.coalesce(1).write.format('csv').option('header','false').save('s3://vinayakraneetlproject/dateDim', mode='overwrite')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [75]:
# writing data from pyspark df 'cardTypeDim' in csv format to cardTypeDim folder in S3 bucket 'vinayakraneetlproject'
cardTypeDim.coalesce(1).write.format('csv').option('header','false').save('s3://vinayakraneetlproject/cardTypeDim', mode='overwrite')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [ ]:
# writing data from pyspark df 'atmTransFact' in csv format to atmTransFact folder in S3 bucket 'vinayakraneetlproject'
atmTransFact.coalesce(1).write.format('csv').option('header','false').save('s3://vinayakraneetlproject/atmTransFact', mode='overwrite')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…